<div class="hdr">
    <div style="float: left">
        <h1 class="logo" style="margin: -6px 0px;">
            APPLICATION-QA<span class="s1">WORKBENCH</span>
        </h1>
    </div>
    <div>
        <form>
            <label for="Project">Projects</label>
            <select class="form-control" (change)='onProjectChange($event)'>                
                <option *ngFor="let prj of projects" value={{prj.ID_PRJ}}>{{prj.Name_PRJ}}</option>
            </select>
            <label for="TestPlans">Test Plans</label>
            <select class="form-control">                
                <option *ngFor="let pln of TestPlanDS" value={{pln.ID_TSP}}>{{pln.Name_TSP}}</option>
            </select>
        </form>
    </div>
    <div class="lgout">
        <button (click)="logout()">Logout</button>
    </div>
</div>